body {
    /* margin: 0 auto; */
    background: url(../images/pexels-photo-1457072.jpg) no-repeat;
    padding-top: 20px; 
    font-family: Arial, Helvetica, sans-serif; 
}



.container {
    text-align: center;
    /* font-family: Arial, Helvetica, sans-serif;  */
}

h1,h2,h3,
h4,h5,h6 {
    padding: 5px;
    background-color: #99AAB5;
}

#win_image, #You_lose {
    display: block;
    margin: 0 auto;
}

#guessingWord {
    letter-spacing: 10px;
}

#pressKeyTryAgain, 
#you_lose, 
#win_image { display: none;}
.gameplay-column {
    padding-top: 20px;
    border: 3px solid black;
    text-align: center;
    margin-top: 30px;
    min-height: 440px;
}